body{
    background-color: #5d317e33;
}

nav{
    text-align:center;
    background-color: #5d317e;
}

nav>p{
    display: inline; 
    font-family: ui-serif; 
    font-size: xx-large; 
    color: #fdd835;
    text-shadow: 0px -2px 4px #f6d236;
}

.cd{
    font-family: ui-serif;
    color: #5d317e;
    text-shadow: 0px -2px 4px #5d317e;
    text-align: center;
    padding: 2%;
    margin-bottom: -5%;
}

.homeImage>img{
    height: 65%;
    margin: 16% 0% 17% 5%;
}

.HomeContent{
    
    /* border:5px solid red; */
    height: fit-content;
    width: fit-content;
    margin-left: 35%;
    font-family: ui-serif; 
    /* font-size: xx-large;  */
    color: #5d317e;
    text-shadow: 0px -2px 4px #5d317e;
}

.HomeContent>button,td>button{
    background-color: #5d317e;
    padding: 3%;
    border:solid #f6d236 2px;
    border-radius: 20px;
    margin: 2% 21% 2% 21%;
}

.HomeContent>button>a,td>button>a{
    text-decoration: none;
    color: #f6d236;
}

.HomeContent>button:hover,td>button:hover{
    background-color: #f6d236;
    border: solid #5d317e 2px;
}

.HomeContent>button:hover>a,td>button:hover>a{
    color:#5d317e;
}


.homeImage,.HomeContent{
    display: inline-block;
}

footer{
    background-color:#5d317e;
    height: 6%;
    color: #fdd835;
    padding: 6px;
    text-align: center;
}

footer>a{
    text-decoration: none;
    color: white;
}

th{
    background-color: #5d317e;
    color: #f6d236;
    text-align: center;
}

td{
    text-align: center;
}

table,td,th{
    /* border: solid red 2px; */
    margin: 5%;
    font-family: ui-serif; 
}

table{
    width:90%;
}

th,td{
    padding:1%;
}

tr{
    background-color: beige;
    border-bottom:  0px -2px 4px #5d317e;
}

tr:hover{
    opacity: 0.9;
}

#transferDetailsDiv{
    width: 50%;
    margin: 15px auto;
    padding: 2% 5% 2% 5%;
    background-color: #f5f5dc91;
    border: solid #5d317e 2px;
    /* border-radius: 20px; */
}

#transferDetailsDiv>form>input{
    width:100%;
}